<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bylancer.classified.bylancerclassified">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.bylancer.classified.bylancerclassified.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".BylancerClassified"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.DashboardActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".login.LoginRequiredActivity"
            android:excludeFromRecents="true"
            android:theme="@style/MyActivityDialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.ManualLoginActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.RegisterUserActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.DashboardProductDetailActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.TermsAndConditionWebView"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.MyFavoritesActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.MyPostedProductActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.ProductByCategoryActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c3fe00f02e777cb40e346f9342c5cc0edf0fdb3a" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notifications" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message.  -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white_background" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>